{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'upload' %}" class="btn btn-primary">
            {% trans "Upload Image" %}
        </a>
        <a href="{% url 'api_instructions' %}" class="btn btn-success">
            {% trans "API Instructions" %}
        </a>
    </div>
</div>
<div class="row pt-5">
    {% for image in images %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ image.title }}</h5>
                <p class="card-text">{{ image.description }}</p>
                <a href="{% url 'delete_image' image.id %}" class="btn btn-danger">
                    {% trans "Delete" %}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}